body {
  background-color: #bec9ec;
  font-family: "Roboto", sans-serif;
  color: #232946;
}

.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #232946;

      &:hover {
        font-weight: bold;
        color: #121629 !important;
      }
    }
  }
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #121629;
  color: #fff;

  &:hover {
    background-color: #232946;
    color: #fff;
  }
}

header {
  padding: 180px 0 165px;
  background-image: url("../images/sablon-image.jpg");
  background-size: cover;
  margin-top: -70px;

  h1,
  p {
    color: transparent;
    user-select: none;
  }

  h1 {
    font-family: "Roboto", serif;
    font-weight: bold;
    font-size: 50px;
  }

  p {
    font-size: 22px;
  }
}

.bg-login-image {
  background: url("../images/sablon-image.jpg");
  background-position: center;
  background-size: cover;
}

#wrapper {
  display: flex;
  #content-wrapper {
    background-color: #fff;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}
